/include/ "system-conf.dtsi"

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	wmmcsdio_fixed: fixedregulator-mmcsdio {
		compatible = "regulator-fixed";
		regulator-name = "wmmcsdio_fixed";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	sdio_pwrseq: sdio_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio 7 1>;
		chip_en-gpios = <&gpio 8 1>; 
	};
	
	psgtr_usb_clock: psgtr_usb_clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
	};

	psgtr_dp_clock: psgtr_dp_clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <27000000>;
	};

	radio_clock: radio_clock {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};
};

/* SD0 only supports 3.3V, no level shifter */
&sdhci0 {
	no-1-8-v;
	disable-wp;
};

&sdhci1 {
	bus-width= <0x4>;
	non-removable;
	disable-wp;
	cap-power-off-card;
	mmc-pwrseq = <&sdio_pwrseq>;
	vqmmc-supply = <&wmmcsdio_fixed>;
	max-frequency = <50000000>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	// wilc_sdio@1 {
	// 	compatible = "microchip,wilc3000";//, "microchip,wilc3000";
	// 	reg = <0>;
	// 	bus-width= <0x4>;
	// 	status = "okay";
	// };
	wlcore: wilc_sdio@0 {
		status = "okay";
		compatible = "microchip,wilc3000";
		reg = <0>;
		interrupt-parent = <&gpio>;
		interrupts = <76 GPIO_ACTIVE_HIGH>;
		clocks = <&radio_clock>;
		clock-names = "rtc";
		reset-gpios = <&gpio 7 GPIO_ACTIVE_HIGH>;
		chip_en-gpios = <&gpio 8 GPIO_ACTIVE_HIGH>;
	};
};

/* USB */
&usb0 {
    status = "okay";
};

&usb1 {
    status = "okay";
};
