menu "user packages " 
config fuse-exfat  
	 bool "fuse-exfat"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config lmsensors  
	 bool "lmsensors"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
endmenu
